<div>
  <button (click)="filterTasks('all')" [class.active]="filter === 'all'">[ Todas ]</button>
  <button (click)="filterTasks('completed')" [class.active]="filter === 'completed'">[ Completadas ]</button>
  <button (click)="filterTasks('pending')" [class.active]="filter === 'pending'">[ Pendientes ]</button>
</div>

<ul>
  <li *ngFor="let task of filteredTasks">
    <input type="checkbox" [checked]="task.completed" (change)="toggleTaskCompletion(task)">
    <span [style.text-decoration]="task.completed ? 'line-through' : 'none'">{{ task.title }}</span>
    - Fecha límite: {{ task.deadline | date: 'yyyy-MM-dd' }}
    <ul>
      <li *ngFor="let person of task.assignedTo">
        {{ person.fullName }} ({{ person.age }} años)
      </li>
    </ul>
    <ul>
      <li *ngFor="let skill of task.skills">
        {{ skill }}
      </li>
    </ul>
  </li>
</ul>
