body{
  background-color: black;
  font-family: monospace;
}

app-task-form{
  width: 100%;
  max-width: 500px;
  display: flex;
  margin: 0 auto;
  border: 2px white dashed;
  padding: 20px;
}
app-task-list{
  width: 100%;
  max-width: 500px;
  display: flex;
  margin: 0 auto;
  border: 2px white dashed;
  padding: 20px;
  border-top: none;
}
form{
  width: 100%;
}
div{
  width: 100%;
}
h2{
  border: 2px white dashed;
  border-bottom: none;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: monospace;

}
label,h2,h3{
  color: white;
}
label{
  display: inline-block;
}
input{
  background-color: transparent;
  color: white;
  font-family: monospace;
  border: none;
  border-bottom: 2px solid white;
  padding: 5px 10px;
  display: inline-block;

}
input[type="checkbox"] {
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
    background-color: #000000;
    position: relative;
}
input[type="checkbox"]::before,input[type="checkbox"]::after{
  position: absolute;
  color: white;
  font-size: 20px;
}
input[type="checkbox"]::before{
  content: " [ ";
  left: -10%;
}
input[type="checkbox"]::after{
  content: " ] ";
  right: -10%;
}



button{
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

